.profile__edit-button {
  /*  margin-left: 20px;
    margin-top: -23px;
    display: flex;
    background-image: url(../../../images/Edit-Button.svg) ;
    /*align-items: baseline;*/

background-color: transparent;
  padding: 0;
  background-image: url(../../../images/Edit-Button.svg);
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  transition: opacity .3s ease-in;
}
