.header__logo {
    margin: auto 200px;
}
@media screen and (min-width: 1281px) {
    .header__logo {
       margin-left: calc((100vw - 880px)/2);
       margin-right: calc((100vw - 880px)/2);
}
}
@media screen and (max-width: 1279px) {
    .header__logo {
       margin-left: calc((100vw - 880px)/2.001);
       margin-right: calc((100vw - 880px)/2.001);
}
}
@media screen and (max-width: 912px) {
    .header__logo {
        margin-left: 16px;
        margin-right: 16px;
}
}
@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 103px;
        margin-left: 27px;
}
}