.element {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5%;
    /*max-width: 282px;*/
    max-width: 100%;
    overflow: hidden;
}
/*@media screen and (max-width: 600px) {
    .element {
        max-width: 220px;
}
}
/*@media screen and (max-width: 450px) {
    .element {
        max-width: 281px;
}
}*/